[package]
name = "computer-vision-rs"
version = "0.1.0"
authors = ["Matthieu Pizenberg <matthieu.pizenberg@gmail.com>"]

[dependencies]

# PistonDevelopers/image. Encoding/decoding images in Rust.
image = "*"

# The core APIs, including the Serialize and Deserialize traits.
serde = "1.0"

# Support for #[derive(Serialize, Deserialize)].
serde_derive = "1.0"

# Each data format lives in its own crate;
serde_json = "1.0"

# GUI
conrod = { version = "0.60", features = ["winit", "glium"] }

# Linear algebra
nalgebra = "0.15"
